/* Reset */
body,
* {
  margin: 0;
  padding: 0;
}

/* Display */
.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-n {
  display: none !important;
}

/* Overflow */
.oy-h {
  overflow-y: hidden !important;
}

.oy-a {
  overflow-y: auto !important;
}

.ox-h {
  overflow-x: hidden !important;
}

.ox-a {
  overflow-x: auto !important;
}