/* Reset 
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
*/
ul,
li {
  list-style: none;
}

/* Default Font */
* {
  font-family: "Roboto", "Arial", sans-serif;
}

/* Display */
.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-n {
  display: none !important;
}

.d-hide {
  visibility: hidden !important;
}

/* Display Position */
.dp-r {
  position: relative;
}

.dp-a {
  position: absolute;
}

.dp-s {
  position: sticky;
}

.dp-f {
  position: fixed;
}

/* Flex Display */
.df-fw {
  flex-wrap: wrap !important;
}

.df-g0 {
  flex-grow: 0 !important;
}

.df-g1 {
  flex-grow: 1 !important;
}

.df-row {
  flex-direction: row !important;
}

.df-col {
  flex-direction: column !important;
}

.dy-fs {
  align-items: flex-start !important;
}

.dy-fe {
  align-items: flex-end !important;
}

.dy-ce {
  align-items: center !important;
}

.dy-st {
  align-items: stretch !important;
}

.dx-fs {
  justify-content: flex-start !important;
}

.dx-fe {
  justify-content: flex-end !important;
}

.dx-ce {
  justify-content: center !important;
}

.dx-sb {
  justify-content: space-between !important;
}

.dx-sa {
  justify-content: space-around !important;
}

.dx-se {
  justify-content: space-evenly !important;
}

/* Overflow */
.oy-h {
  overflow-y: hidden !important;
}

.oy-a {
  overflow-y: auto !important;
}

.ox-h {
  overflow-x: hidden !important;
}

.ox-a {
  overflow-x: auto !important;
}
