/* App */
.lt,
.lb,
.ll,
.lr {
  position: fixed;
}

/* Header */
.lt {
  top: 0;
  height: var(--app-header);
}

/* Footer */
.lb {
  bottom: 0;
  height: var(--app-footer);
}

/* Main */
.lt,
.lb,
.lm {
  left: 0;
  right: 0;
}
.lm {
  transition-property: margin-left, margin-right;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.lm {
  height: calc(100vh);
}

/* Side */
.lm,
.ll,
.lr {
  top: 0;
  bottom: 0;
}
.ll {
  left: 0;
  width: var(--app-left);
}
.lr {
  right: 0;
  width: var(--app-right);
}
.ll.mini {
  left: 0;
  width: var(--app-left-mini);
}
.lr.mini {
  right: 0;
  width: var(--app-right-mini);
}

/* Drawer */
.ld {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.ld.ll {
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
.ld.lr {
  -webkit-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
}
.ld.open {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

/* Clip */
.lc-l {
  margin-left: var(--app-left);
}
.lc-r {
  margin-right: var(--app-right);
}
.lc-t {
  top: var(--app-header);
}
.lc-b {
  bottom: var(--app-footer);
}
.lm.lc-t {
  margin-top: var(--app-header);
  height: calc(100dvh - var(--app-header));
}
.lm.lc-b {
  height: calc(100dvh - var(--app-footer));
}
.lm.lc-t.lc-b {
  margin-top: var(--app-header);
  height: calc(100dvh - (var(--app-header) + var(--app-footer)));
}

/* Z-Index */
.lt {
  z-index: var(--app-header-layer);
}
.lb {
  z-index: var(--app-footer-layer);
}
.ll {
  z-index: var(--app-left-layer);
}
.lr {
  z-index: var(--app-right-layer);
}

/* Variables */
:root {
  /* Sizes */
  --app-header: 50px;
  --app-footer: 50px;
  --app-left: 185px;
  --app-right: 185px;
  --app-left-mini: 60px;
  --app-right-mini: 60px;
  /* Z-Index */
  --app-header-layer: 101;
  --app-footer-layer: 101;
  --app-left-layer: 102;
  --app-right-layer: 102;
}
