:root {
  --text-size-1: 3rem;
  --text-size-2: 2.25rem;
  --text-size-3: 1.5rem;
  --text-size-4: 1.25rem;
  --text-size-5: 1rem;
  --text-size-6: 0.875rem;
}

/* Text Size */
.ts-1 {
  font-size: var(--text-size-1) !important;
}
.ts-2 {
  font-size: var(--text-size-2) !important;
}
.ts-3 {
  font-size: var(--text-size-3) !important;
}
.ts-4 {
  font-size: var(--text-size-4) !important;
}
.ts-5 {
  font-size: var(--text-size-5) !important;
}
.ts-6 {
  font-size: var(--text-size-6) !important;
}

/* Text Decoration */
.td-i {
  font-style: italic !important;
}
.td-b {
  font-weight: bold !important;
}
.td-u {
  text-decoration: underline !important;
}
.td-s {
  text-decoration: line-through !important;
}

/* Text Transform */
.tt-t {
  text-transform: capitalize !important;
}
.tt-u {
  text-transform: uppercase !important;
}
.tt-l {
  text-transform: lowercase !important;
}
.tt-c {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Text Align */
.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}
