/* Text Size */
.ts-1 {
  font-size: 3rem !important;
}
.ts-2 {
  font-size: 2.25rem !important;
}
.ts-3 {
  font-size: 1.5rem !important;
}
.ts-4 {
  font-size: 1.25rem !important;
}
.ts-5 {
  font-size: 1rem !important;
}
.ts-6 {
  font-size: 0.875rem !important;
}

/* Text Decoration */
.td-i {
  font-style: italic !important;
}
.td-b {
  font-weight: bold !important;
}
.td-u {
  text-decoration: underline !important;
}
.td-s {
  text-decoration: line-through !important;
}

/* Text Transform */
.tt-t {
  text-transform: capitalize !important;
}
.tt-u {
  text-transform: uppercase !important;
}
.tt-l {
  text-transform: lowercase !important;
}
.tt-c {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Text Align */
.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}
